body {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 500px;
    margin: 4% auto;
    font-size: 1.8rem;
  }
  
  .calculator {
      border: #3cb585 solid 1px;
      grid-column: 1/11;
      grid-row: 1/11;
    padding: 20px;
    border-radius: 10px;
  }
  
  .input {
    border: 1px solid #ddd;
    border-radius: 1px;
    grid-column: 1/4;
    grid-row: 1/5;
    padding-left: 15px;
    padding: 7px;
    text-align: left;
    font-size: 2.5rem;
    overflow-x: auto;
  }

  .input:empty {
    border: 1px solid #ddd;
    border-radius: 1px;
    grid-column: 1/4;
    grid-row: 1/5;
    padding-left: 15px;
    padding: 30px;
    text-align: left;
    font-size: 2.5rem;
    overflow-x: auto;
  }
  
  .input:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  
  #Boperators{
    display: inline-block;
    text-align: center;
  }
  .operators{
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }
  
  .operators:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
  }
  
  .operators:active {
    font-weight: bold;
  }

  .operators2{
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 80px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
  }
  
  .operators2:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
  }
  
  .operators2:active {
    font-weight: bold;
  }
  
  .leftPanel {
    display: inline-block;
  }
  
  .numbers div {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 120px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
  }
  
  .numbers div:hover {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #bbb;
  }
  
  .numbers div:active {
    font-weight: bold;
  }
  
  div.equal {
    display: inline-block;
    border: 1px solid #3cb585;
    border-radius: 1px;
    width: 426px;
    text-align: center;
    padding: 10px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #3cb585;
    transition: all .2s ease-in-out;
  }
  
  div.equal:hover {
    background-color: #098554;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #098554;
  }
  
  div.equal:active {
    font-weight: bold;
  }

